body{background-color: var(--main-bg-color);}
.skiplinks li{
    list-style-type: square;
    color: blue;
    line-height: 1.5rem;
}
/*wrapper: frames it contents in 1200px window and adds margin*/
.main-menu{
    position: sticky;
    z-index: 2;
    top: 0;
    color: var(--main-gold);
    background-color: var(--main-extreme-dark);
}
#logo-svg{
    height: 5rem;
}

#menu-list{
    font-size: 1.2rem;
    text-decoration: underline solid;
}
#menu-list li a{
    color: var(--main-gold);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 100%;
    height: 100%;
}
.about-brief{
    text-align: center;
    justify-content: center;
}
.about-brief p{
    flex-grow: 1;
}
.about-brief button{border-radius: 50px; width: 8rem; background-color:var(--main-extreme-dark) ; color: #fff;}
.services{padding: 0;}
.services-blocks{
    display: grid;
    grid-auto-rows:660px;
    row-gap: 10px;
    justify-items: center;
    grid-template-areas: 
    "block1"
    "block2"
    "block3"
    "block4";
}

.services .block1 {grid-area: block1;}
.services .block2 {grid-area: block2;}
.services .block3 {grid-area: block3;}
.services .block4 {grid-area: block4;}

.service {height:660px; width: 300px;padding: 0 0;}
.service-contents{height: 600px;background-color:var(--main-ivory);}
.service-pic{border-radius:20px;  position: relative; flex:1}
.service-text{height: 6rem;}
.service-info{height:1.5rem}
.service-actions{height: 70px;}
.service img{max-height: 100%;position:absolute;}
.service-pic img{backface-visibility: hidden;}
.service:hover .face-1{animation: rotatecard-1 10s linear 0s infinite;}
.service:hover .face-2{animation: rotatecard-2 10s linear 0s infinite;}
.service:hover .face-3{animation: rotatecard-3 10s linear 0s infinite;}
.service:hover .face-4{animation: rotatecard-4 10s linear 0s infinite;}

/* .service .service-contents{height:80%; background-color: var(--main-ivory);}
.service .service-actions{height: 20%;}
.service-pic {
    height: 80%;
    border-radius: 20px;
} */


.service-actions{
    flex-direction: row;
    justify-content: space-around;
}
.service a{text-decoration: underline solid;}
.service-action-button{
    height:50px;
    width:50px;
    color: #fff;
    background-color: var(--main-extreme-dark);
    border-radius: 50%;
    }

.contacts-blocks{
    display: grid;
    grid-auto-rows:1fr;
    row-gap: 10px;
    grid-template-areas: 
    "block1"
    "block2"
    "block3";
}
.contacts .block1 {grid-area: block1;background-color: var(--main-ivory);}
.contacts .block2 {grid-area: block2;background-color: var(--main-ivory);}
.contacts .block3 {grid-area: block3;background-color: var(--main-ivory);}

.map{flex-grow: 1;} iframe{height: 100%;width: 100%;}
.address-schedule span{display:inline-block;width: 100%;}
.schedule th{font-weight: bold;}
.schedule table, .schedule th, .schedule td {border-collapse: collapse; text-align: center;}
.schedule tr{line-height: 3rem;}
.schedule tbody th{text-indent: 10px;}
.message-form button{border-radius: 50px; width: 8rem; background-color:var(--main-extreme-dark) ; color: #fff;} footer{background-color: var(--main-extreme-dark); color: var(--main-gold);}

footer p{display: block;}

/**** first breaking point @ 760px****/

@media screen and (min-width: 760px){
    /**changes menu from column to row**/
    .menu, #menu-list{flex-direction: row; }
    #menu-list{ height: 5rem; text-decoration: none;}

    /**adds effect for navigation menu**/
    #menu-list li{
        padding:10px;
        transition: 1s;   
    }
    #menu-list li:hover a{
        transition: 1s;
        transform: scale(1.5);
        background:linear-gradient(0deg, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.01) 100%);
        border-top: 2px solid brown; 
    }

    /*changes the short intro style to overlay the hero image with glass background effect*/
    .hero {position: relative;}
    .hero .about-brief{ 
        color: var(--main-ivory);
        margin: auto;
        position: absolute;
        top: 55%; left: 10%; bottom: 10%; right: 10%;
        align-items: center;justify-items:center ;
        background:linear-gradient(135deg, rgba(255,255,255,0.01), rgba(255,255,255,0));
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    /*****/
    .hero .about-brief p{flex-grow: 0;}
    .services-blocks{
        grid-auto-columns:1fr;
        /* column-gap: 5px; */
        grid-template-areas: 
        "block1 block2"
        "block3 block4";
    }
    .contacts-blocks{
        grid-auto-columns:1fr;
        column-gap: 10px;
        grid-template-areas: 
        "block1 block2"
        "block3 block3";
    }
    .address-schedule{grid-area: adr;}
    .location{grid-area: map;}
    .message-form{grid-area: msg;}
    
    .footer-inf{ flex-direction: row-reverse; width:100%}
}
@media screen and (min-width: 960px){
    .menu, #menu-list{flex-direction: row; }
   #menu-list{ height: 5rem;}

    .contacts-blocks{
        grid-template-areas: 
        "block1 block2 block3";
    }
    .footer-inf{ flex-direction: row-reverse; width:100%}
}
@media screen and (min-width: 1280px){

    .services-blocks{
        grid-template-areas: 
        "block1 block2 block3 block4";
    }    

@keyframes rotatecard-1{
    0%{transform:rotateY(0deg);}
    5%{transform:rotateY(180deg);}
    75%{transform:rotateY(180deg);}
    80%{transform:rotateY(360deg);}
    100%{transform:rotateY(360deg);}
}
@keyframes rotatecard-2{
    0%{transform:rotateY(-180deg);}
    5%{transform:rotateY(0deg);}
    25%{transform:rotateY(0deg);}
    30%{transform:rotateY(180deg);}
    100%{transform:rotateY(180deg);}
}
@keyframes rotatecard-3{
    0%{transform:rotateY(-180deg);}
    25%{transform:rotateY(-180deg);}
    30%{transform:rotateY(0deg);}
    50%{transform:rotateY(0deg);}
    55%{transform:rotateY(180deg);}
    100%{transform:rotateY(180deg);}
}
@keyframes rotatecard-4{
    0%{transform:rotateY(-180deg);}
    50%{transform:rotateY(-180deg);}
    55%{transform:rotateY(0deg);}
    75%{transform:rotateY(0deg);}
    80%{transform:rotateY(180deg);}
    100%{transform:rotateY(180deg);}
}