/******************default settings***********************/
:root{
    --main-bg-color:#DCE3E9;
    --main-gold:#F9E588;
    --main-ivory:#F5F1EE;
    --main-dark:#707070;
    --main-brown:#D4BB84;
    --main-extreme-dark:#203030;
}
*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* makes Open Sans from google fonts the default (elements don't inherit html default font)*/
html, input, textarea, button{
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;}
h1 {
    font-size: 4.5rem;
    line-height: 6rem;
    font-weight: 700;}
h2{
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 700;}
h3{ margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;}
h4{
    font-size: 1.1rem;
    font-weight: 700;}
p{
    margin-top: 0.8rem;
    font-size:1rem;
    line-height: 1.5rem;
    font-weight: 400;}
a{font-weight: 500;}
i{font-size: 2rem;}
label{
    color:#222222;
    line-height:2;}
input{
    color: #222222;
    font-size: 1.2rem;
    line-height: 2rem;
}
img,input,textarea{width: 100%}
.wrapper{
    margin: 0px auto;
    max-width: 1200px;
}
/*container: adjusts its contents on "y" axis with propper padding and space in between by default - changes to "x" axis when mneeded */
.container{
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    text-align: center;
    justify-content: space-between;
}
.flexcenter{display:flex;align-items: center; justify-content: center;}
.img-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.masked-img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

